.card {
  margin-bottom: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  background: #fefefe;
  -webkit-box-shadow: none;
  box-shadow: none;
  overflow: hidden;
  color: #0a0a0a;
}

.card > :last-child {
  margin-bottom: 0;
}

.card-divider {
  padding: 1rem;
  background: #e6e6e6;
}

.card-divider > :last-child {
  margin-bottom: 0;
}

.card-section {
  padding: 1rem;
}

.card-section > :last-child {
  margin-bottom: 0;
}

.top-bar{
  margin-bottom: 40px;
}

.text-loading{
  font-family: 'Blokk';
  font-size: 18px;
  color: #f0f0f0;
  margin-bottom: 0;
}

.label-ability{
  margin-right: 6px;
  margin-bottom: 6px;
}

.contain-ability{
  margin-bottom: -6px;
}

.stat-meter .progress{
  height: .25rem;
  margin-bottom: 0;
  margin-top: 4px;
}
